{% extends 'base.html' %} {% block content %}

    <div>
        <div>
            <h1>Welcome to ThinkPart</h1>
            <p>
                An app for finding parts compatible with a specific device from the database.
                It enables managing parts, laptops as well as assigned components.
                Registered users can add their own laptops and keep track of changes and replaced parts.<br><br>
                Feel free to contribute your knowledge and devices to the database.
            </p>
        </div>
        <div class="image-home">
            {% load static %}
            <img src="{% static 'thinkpad_exploded.png' %}" alt="ThinkPad Exploded">
        </div>
    </div>

{% endblock %}
