{% extends 'base.html' %} {% block content %}

    <div>
        <div>
            <h1>Welcome to ThinkRepair</h1>
            <p>
                This app allows to find parts compatible with a specific laptop from the database.
                Registered users can add their laptops and keep track of replaced parts.
                Please contribute parts and laptops to the database for the benefit of all.
            </p>
        </div>
        <div>
            {% load static %}
            <img class="image-home" src="{% static 'thinkpad_exploded.png' %}" alt="ThinkPad Exploded">
        </div>
    </div>

{% endblock %}
